@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
.contact-form{
   background: linear-gradient(135deg, rgba(245,94,173,1) 7%, rgba(36,171,190,1) 32%, rgba(26,109,175,1) 50%, rgba(36,171,190,1) 69%, rgba(249,204,25,1) 92%);
padding: 20px;
height: 100vh;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    }
.contact-form-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.form-container textarea {
    height: 100px;
}

.form-submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-submit-btn:hover {
    background-color: #45a049;
}
.container{
}
label{
text-align: center;
}