@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1300px;
    padding: 100px 15px;
    margin: 0 auto;
}
.section-title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.section-text{
    line-height: 30px;
    font-size: 20px;
}
.nav-menu {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #3f606f;
    top: 0;
    padding: 20px;
    z-index: 20;
}
.logo-link {

}
.nav-logo {
    height: 80px;
}
.nav-container {
    float: right;
    
}
.nav-item {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
.nav-item:hover{
    color: #17cbe4;
    transform: scale(1.2);
}

.main-section {
    height: 100vh;
    background: linear-gradient(135deg, rgba(245,94,173,1) 7%, rgba(36,171,190,1) 32%, rgba(26,109,175,1) 50%, rgba(36,171,190,1) 69%, rgba(249,204,25,1) 92%);
}
.main-content {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
    z-index: 10;
}
.main-content-text {
    font-size: 100px;
    color:white;
    text-shadow: 10px 10px 0 #17cbe4;
}
.main-content-btn {
    display: block;
    width: 300px;
    height: 80px;
    margin: 15px  auto;
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 0 #17cbe4;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 20px;
    line-height: 80px;
}

.doing {
    background: linear-gradient(7deg, rgba(36,171,190,1) 18.07%, rgba(249,204,25,1) 70%, #FFFFFF 70%);
   
}
.doing-left {
    display: inline-block;
    width: 45%;
    vertical-align: top;
   
}

.doing-right {
    display: inline-block;
    width: 45%;
}
.doing-title {
    margin-bottom: 30px;
}

.doing-text {
    background: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 0 #17cbe4;
}
.doing-right img{
    height: 100%;
    margin: 50px 0 0 15px;
    
}





.services {
    background: linear-gradient(340.62deg, #FFFFFF 45.63%, rgba(36,171,190,1) 45.64%);
    text-align: center;
}
.services-title {
    color: white;
 }
.services-card {
    display: inline-block;
    width: 28%;
    background: white;
    border-radius: 30px;
    border: 5px solid #17cbe4;
    padding: 15px;
    height: 500px;
    vertical-align: top;
    margin: 10px 20px;
}
.services-icon {
    width: 200px;
    height: 200px;
}
.services-card-title {
    font-size: 25px;
    margin: 10px 0;
}
.card-hr{
    height: 2px;
    border: none;
    background-color: #005d88;
    width: 60%;
    margin: 10px auto;
}





.portfolio {
}
.portfolio-table{
    width:100%;
    height: 600px;
}
.portfolio-row {
    
}
.portfolio-cell {
    border: 5px solid #17cbe4;
    border-radius: 30px;
    transition: 0.5s;
}
.portfolio-cell:hover {
    transform: scale(0.9);
}
.cell1 {
    background: url(img/Asus\ White\ TUF\ GAMING\ PC.jfif) center/cover no-repeat;
}
.cell2 {
    background: url(img/Deepcool\ Matrexx\ 55\ Mesh\ ARGB\ 4F\ Tempered\ Glass\ Mid-Tower\ E-ATX\ Case.jfif) center/cover no-repeat;
}
.cell3 {
    background: url(img/Super\ Sexy\ Clean\ Gaming\ PC-BUILDS.jfif) center/cover no-repeat;
}
.cell4 {
    background: url('img/portfolio/site4.png') center/cover no-repeat;
}

.portfolio-mobile {
    display: none;
}
.portfolio-mobile-cell {
    display: block;
    width: 100%;
    border: 5px solid #E06161;
    
}

.contact-us-title{
    color: white;
}
.contact-us{
    background: linear-gradient(135deg, rgba(245,94,173,1) 7%, rgba(36,171,190,1) 32%, rgba(26,109,175,1) 50%, rgba(36,171,190,1) 69%, rgba(249,204,25,1) 92%);
}


@media(max-width:768px){
    .section-title{
        font-size: 30px;
    }
    .section-text{
        font-size: 16px;
    }
    .nav-menu{
        width: 100%;
        height: fit-content;
    }
    .nav-logo {
        width: 80px;
    }
    .nav-item {
        display: block;
    }
    .main-content{
        width: 100%;
    }
    .main-content-text{
        font-size: 40px;
        text-align: center;
    }
    .main-content-btn{
        width: 200px;
        height: 60px;
        font-size: 12px;
        line-height: 60px;
    }
    .doing-left {
        display: block;
        width: 100%;
    }
    .doing-right {
        display: block;
        width: 100%;
    }

    .doing-right img{
        width: 100%;
        margin-left: 0;
    }
    .doing-text {
        box-shadow: 0 15px 0 #17cbe4;
    }
    .services-card {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .advantages-card {
        width: 100%;
        box-shadow: 0 10px 0 #17cbe4;
    }
     .adv-card1{
        left: 0;
    }
    .adv-card2{
        left: 0;
    }
    .adv-card3{
        left: 0;
    }
    .advangages-hexagon{
        width: 270px;
    }
    .portfolio-mobile {
        display: block;
    }
    .portfolio-table{
        display: none;
    }
}